<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="css/homecss.css">
</head>
<body>
<div class="navbar">
    <a href="home.html" class="juma">Home</a>
    <a href="usercv.html"class="juma">My CV</a>
    <a href="user.html">User</a>

</div>

<div class="main">
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  <p>abecedar</p>
  
</div>
</body>
</html>
